/** padding **/
.pl0{
  padding-left:0px;
}
.pr0{
  padding-right:0px;
}
.pt0{
  padding-top:0px;
}
.pb0{
  padding-bottom:0px;
}
.p15{
  padding:15px;
}
.p20{
  padding:20px;
}
.pt40{
  padding-top:40px;
}

/** margin **/
.ml0{
  margin-left:0px;
}
.mr0{
  margin-right:0px;
}
.mt0{
  margin-top:0px;
}
.mb0{
  margin-bottom:0px;
}

/** height **/
.hp100{
  height:100%;
}

/** color **/
.color-black{
  color:#000;
}